/* Основные стили */
body {
    background-color: #f6f5f0; /* Цвет фона */
    color: black; /* Цвет текста */
    font-family: Arial, sans-serif; /* Шрифт по умолчанию */
    margin: 0;
    padding: 0;
}

/* Хеддер */
header {
    display: flex;
    justify-content: right; /* Выравнивание логотипа по центру */
    align-items: right;
    position: relative;
    padding: 20px 0;
}

/* Логотип */
.logo {
    max-width: 50px; /* Максимальная ширина логотипа */
}

/* Контейнер соцсетей */
.social-icons {
    position: absolute;
    left: 20px; /* Расположение слева */
    top: 50%; /* Центрирование по вертикали */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column; /* Расположение иконок в столбец */
    gap: 10px; /* Отступ между иконками */
}

/* Иконки соцсетей */
.social-icons img {
    width: 50px; /* Размер иконок соцсетей */
    height: auto;
}

/* Основной контент */
.main-content {
    text-align: center; /* Выравнивание заголовков по центру */
    padding: 20px;
}

/* Видео-контейнер */
.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Два видео в ряд на ПК, одно на телефоне */
    gap: 20px;
    justify-content: center;
}

/* Видео */
.video-container iframe {
    width: 100%; /* Адаптивное видео */
    height: 200px; /* Фиксированная высота видео */
}

/* Подвал */
footer {
    text-align: center; /* Выравнивание текста в центре */
    padding: 20px;
}

/* Контейнер иконок в подвале */
.footer-icons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Расстояние между иконками */
    margin-top: 10px;
}

.footer-icons img {
    width: 50px; /* Размер иконок в подвале */
    height: auto;
}
